/* css styles */
/*-- use vars in CSS rules (we'll learn more about how to write CSS soon!) --*/


h1 {
    font-color: $darkblue;
}
  
.button-styling {
  background: $teal;
  color: $darkblue; 
  border-color: $darkgray;
}


.blue-italicized {
    color: blue;
    font-style: italic;
}
/* <p class="blue-italicized">My first paragraph is styled</p> */

.blue-text {
    color: blue;
}

/* following for test */

.page-header {
    background-image: conic-gradient(from 0.75turn at 10% 45%, #ffe8d4 25%, transparent 10%), 
    linear-gradient(to top, transparent 55%, #faba81 55%), 
    linear-gradient(to left, #c3e3e3 20%, #86c3b5 20%);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color:#009999;
}
/* 008080 */

.btn {
    color: rgb(255 255 255 / 75%);
    background-color: #846b5d;
}

#intro {
    color: #846b5d;
}